@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: #1d1d1d;
  -webkit-font-smoothing: antialiased;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1.0;
    transform: translateY(0px);
  }
  100% {
    opacity: 0.0;
    transform: translateY(15px);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0.0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1.0;
    transform: translateY(0px);
  }
}

#tier-list-container,
.available-decks-container {
  max-width: 816px;
}

.available-decks-container {
  margin: 0 auto;
}

/* export-md クラス */
.export .md\\:flex-row {
  @apply flex-row;
}

.export .md\\:w-24 {
  @apply w-24;
}

.export .md\\:h-12 {
  @apply h-12;
}

.export .md\\:flex-wrap {
  @apply flex-wrap;
}

.export .md\\:p-8 {
  @apply p-8;
}

.export .md\\:pt-0 {
  @apply pt-0;
}

.export .md\\:pr-32 {
  @apply pr-32;
}

.download-button:hover svg {
  animation: slideOut 0.15s ease-out forwards, slideIn 0.15s 0.30s ease-out forwards;
}

#share-button a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  transform: skewX(-25deg);
  z-index: 20;
}

#share-button:hover a::before {
  animation: shine 1s forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
